In [1]:
range(5)

range(0, 5)

In [4]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [5]:
str = 'Sritam Kumar'

for i in str:
     print(i)

S
r
i
t
a
m

K
u
m
a
r

In [8]:
#While loop

count=0
while(count<5):
    print(count)
    count=count+1

0
1
2
3
4

In [9]:
#loop control statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [10]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
#prime number using loop

for num in range(2,101):
    for i in range(2,num):
        if(num%i==0):
            break
        
    print(f'{num} is a prime number')

2 is a prime number
3 is a prime number
4 is a prime number
5 is a prime number
6 is a prime number
7 is a prime number
8 is a prime number
9 is a prime number
10 is a prime number
11 is a prime number
12 is a prime number
13 is a prime number
14 is a prime number
15 is a prime number
16 is a prime number
17 is a prime number
18 is a prime number
19 is a prime number
20 is a prime number
21 is a prime number
22 is a prime number
23 is a prime number
24 is a prime number
25 is a prime number
26 is a prime number
27 is a prime number
28 is a prime number
29 is a prime number
30 is a prime number
31 is a prime number
32 is a prime number
33 is a prime number
34 is a prime number
35 is a prime number
36 is a prime number
37 is a prime number
38 is a prime number
39 is a prime number
40 is a prime number
41 is a prime number
42 is a prime number
43 is a prime number
44 is a prime number
45 is a prime number
46 is a prime number
47 is a prime number
48 is a prime number
49 is a prime number
50 is a prime number
51 is a prime number
52 is a prime number
53 is a prime number
54 is a prime number
55 is a prime number
56 is a prime number
57 is a prime number
58 is a prime number
59 is a prime number
60 is a prime number
61 is a prime number
62 is a prime number
63 is a prime number
64 is a prime number
65 is a prime number
66 is a prime number
67 is a prime number
68 is a prime number
69 is a prime number
70 is a prime number
71 is a prime number
72 is a prime number
73 is a prime number
74 is a prime number
75 is a prime number
76 is a prime number
77 is a prime number
78 is a prime number
79 is a prime number
80 is a prime number
81 is a prime number
82 is a prime number
83 is a prime number
84 is a prime number
85 is a prime number
86 is a prime number
87 is a prime number
88 is a prime number
89 is a prime number
90 is a prime number
91 is a prime number
92 is a prime number
93 is a prime number
94 is a prime number
95 is a prime number
96 is a prime number
97 is a prime number
98 is a prime number
99 is a prime number
100 is a prime number

In [1]:
#tuples

tple=(1,2,3,4,'Sritam')
print(type(tple))

<class 'tuple'>

In [4]:
tpl=tuple([1,2,3,45,5])
lists=list((1,2,6,7,9,'Sritam'))
print(tpl)
print(lists)

(1, 2, 3, 45, 5)
[1, 2, 6, 7, 9, 'Sritam']

In [9]:
print(tpl[1])
print(tpl[1:3])

2
(2, 3)