# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
### Assignment 1: Creating and Accessing Tuples

#Create a tuple with the first 10 positive integers. Print the tuple.
first_tuple= tuple(range(1,11))
print(first_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
### Assignment 2: Accessing Tuple Elements

#Print the first, middle, and last elements of the tuple created in Assignment 1.
first,*middle,last=first_tuple
print(first,middle,last)

1 [2, 3, 4, 5, 6, 7, 8, 9] 10

In [16]:
### Assignment 3: Tuple Slicing

#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(first_tuple[0:3])
print(first_tuple[-3:])
print(first_tuple[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [19]:
### Assignment 4: Nested Tuples

#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

nested_tuple= ((1,2,3),
               (4,5,6),
               (7,8,9))

print(nested_tuple[1][2])

6

In [20]:
### Assignment 5: Tuple Concatenation

#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tuple_1=tuple(range(1,4))
tuple_2=tuple(range(4,7))
concat=tuple_1+tuple_2
print(concat)

(1, 2, 3, 4, 5, 6)

In [23]:
### Assignment 6: Tuple Methods

#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tuple_3=(1,2,2,2,3,7,6,3,3,9,7,8,9,12,62,12,1,3)
print(tuple_3.count(3))
print(tuple_3.index(7))

4
5

In [1]:
### Assignment 7: Unpacking Tuples

#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tuple_4=(1,'Sritam',True,45.87,'Sample data')
var1,var2,var3,var4,var5=tuple_4
print(var1,var2,var3,var4,var5)

1 Sritam True 45.87 Sample data

In [14]:
### Assignment 8: Tuple Conversion

#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

list_sample=list(range(1,6))
print(list_sample)
print(tuple(list_sample))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [15]:
### Assignment 9: Tuple of Tuples

#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

main_tuple=((1,2,3),
            (4,5,6),
            (7,8,9))

for row in main_tuple:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [19]:
### Assignment 10: Tuple and List

#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tuple_5=tuple(range(1,6))
list_conversion=list(tuple_5)
list_conversion.append('Sritam')
print(list_conversion)
again_tuple=tuple(list_conversion)
print(again_tuple)

[1, 2, 3, 4, 5, 'Sritam']
(1, 2, 3, 4, 5, 'Sritam')

In [24]:
### Assignment 11: Tuple and String

#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

char_tuple= ('S','r','i','t','a','m')
output_string=''
for i in char_tuple:
    output_string += i

print(output_string)

string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

str= 'Sample String'
tpl1=tuple(str)
print(tpl1)
joined_String=''.join(tpl1)
print(joined_String)

Sritam
hello
('S', 'a', 'm', 'p', 'l', 'e', ' ', 'S', 't', 'r', 'i', 'n', 'g')
Sample String

In [25]:

### Assignment 12: Tuple and Dictionary

#Create a dictionary with tuple keys and integer values. Print the dictionary.

dist={
    (1,2,3):1,
    (3,7,8):7,
    (8,7,6):13

}

print(dist)

{(1, 2, 3): 1, (3, 7, 8): 7, (8, 7, 6): 13}

In [32]:
### Assignment 13: Nested Tuple Iteration

#Create a nested tuple and iterate over the elements, printing each element.

nested_tuple=(('String1','String2',"String3"),
              (1,2,3),
              (12.45,'Sritam',3,67.87))

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=' ')
    print('')

String1 String2 String3
1 2 3
12.45 Sritam 3 67.87

In [39]:
### Assignment 14: Tuple and Set

#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

first_tpl=(1,4,5,3,1,'Sritam','Sample','Sample','Sritam',4,3,5)

remove_duplicate=set(first_tpl)
print(remove_duplicate)

{'Sritam', 1, 'Sample', 3, 4, 5}

In [40]:
### Assignment 15: Tuple Functions

#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_item(tpl):
    return min(tpl)

def max_item(tpl):
    return max(tpl)

def sum_item(tpl):
    return sum(tpl)

tpl_items=(1,2,3,4,5,2,3)
print(f'Min item {min_item(tpl_items)}')
print(f'Max item {max_item(tpl_items)}')
print(f'Sum item {sum_item(tpl_items)}') 

print(f'Sample data ')

Min item 1
Max item 5
Sum item 20